* Contenido de styles.css */

 body {
    font-family: Arial, sans-serif;
    background-color: rgb(252, 252, 252);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #6f63df;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.container form {
    background-color: rgb(20, 126, 219); /* Color de fondo rojo claro */
    text-align: center; /* Centra el contenido del formulario */
}

h2 {
    text-align: center;
    color: aliceblue;
    margin-bottom: 20px;
    background-color: rgb(20, 125, 219);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
input[type="date"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
